# Required keys
NVIDIA_API_KEY=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
NGC_API_KEY=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

# Runtime mode
# false: NVIDIA hosted endpoints (default)
# true: local NIM profile (--profile local-nim)
USE_LOCAL_NIM=false
USE_CPU_MILVUS=true

# Optional compose/env settings
DOCKER_VOLUME_DIRECTORY=./deploy/compose
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
LOGLEVEL=INFO
